.advantages {
  background-color: $mc;
  padding: 40px 0;

  &__item {
    text-align: center;
    color: #ffffff;
  }

  &__icon {
    font-size: 40px;
    color: #ffffff;
  }

  &__more {
    color: #ffffff;
  }
}
