html,
body {
  height: 100%;
  font-family: "OpenSans";
}

body {
  overflow-x: hidden;
}

//  scroll

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb {
  background: rgba(19, 95, 167, 0.2);
  border-radius: 10px;
}

//  scroll end

// footerFlex down
.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrap {
  flex: 1 0 auto;

  &--isidePage {
    background-color: #f8f8f8;
  }
}

// footerFlex down end

// slider
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// slider end



// flexWrap
.flexWrap {
  align-items: center;
}

// flexWrap end



.nav-up {
  top: -40px;
}


.captionSection {
  text-align: center;
  z-index: 1;
  position: relative;

  h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    font-weight: 400;
  }

  &--dark {
    h2 {
      color: #000000;
    }
  }
}

// feedBack
.feedBackWrap {
  display: none;
  background-color: transparent !important;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  display: none;

  @media (max-width: 440.98px) {
    padding: 40px 10px 0;
  }

  .feedBack {
    background-color: #fff;
    width: 100%;
    margin: auto;
    min-height: 400px;
    padding: 30px 15px;

    @media (max-width: 440.98px) {
      padding: 15px 15px;
    }

    &__logo {
      max-width: 100px;
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    ::-webkit-input-placeholder {
      color: #ccc;
      font-weight: 400;
      font-size: 14px;
    }

    ::-moz-placeholder {
      color: #ccc;
      font-weight: 400;
      font-size: 14px;
    }


    :-moz-placeholder {
      color: #ccc;
      font-weight: 400;
      font-size: 14px;
    }


    :-ms-input-placeholder {
      color: #ccc;
      font-weight: 400;
      font-size: 14px;
    }

    &__input,
    &__textarea {
      width: 100%;
      max-width: 100%;
      border: none;
      outline: none;
      border: 1px solid $mc;
      padding: 0 15px;
      margin-bottom: 20px;
      font-size: 15px;
      color: $mc;


      @media (max-width: 440.98px) {
        margin-bottom: 15px;
      }
    }

    &__textarea {
      min-height: 70px;
      resize: none;
    }

    &__input {
      min-height: 40px;
    }

    button {
      border: none;
      outline: none;
      margin: 0 auto;
      display: block;
      max-width: 150px;
      width: 100%;
      min-height: 40px;
      background-color: $mc;
      color: #ffffff;
      text-transform: uppercase;
      border: 1px solid $mc;
      transform: scale(1);
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .5);

      &:hover {
        background-color: transparent;
        color: $mc;
        animation: submitButton 1s;
        transform: scale(1.01) translateY(-5px);
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .5);
      }
    }

    @keyframes submitButton {
      0% {
        transform: rotate(0deg) translate(0);
      }

      20% {
        transform: rotate(10deg) translate(5px, -2px);
      }

      40% {
        transform: rotate(-10deg) translate(-5px, 2px);
      }

      60% {
        transform: rotate(11deg) translate(4px, -1px);
      }

      80% {
        transform: rotate(0deg) translate(0);
      }
    }
  }

  .fancybox-button {
    padding: 3px;
    border: 1px solid $mc;
    max-width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .3s;
    top: 5px;

    @media (max-width: 440.98px) {
      top: 0px;
    }

    &:hover {
      border: 1px solid red;

      path {
        fill: red;
      }
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

// feedBack end


// pagination
.pagination {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;

  &__link {
    border: 1px solid $mc;
    padding: 3px 15px;
    transition: all .3s;
    color: #000000;

    &:hover {
      background-color: $mc;
      color: #ffffff;
      text-decoration: none;
    }

    &--current {
      background-color: $mc;
      color: #ffffff;
    }
  }
}

// pagination end


// preloader


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #0a5da9;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// preloader end



// breadCrumbs
.breadCrumbs {
  margin-bottom: 15px;
  display: inline-block;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding-right: 15px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 3px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $mc;
      }

      &:last-child {
        cursor: no-drop;
        color: #cccccc;

        &:after {
          display: none;
        }
      }

      a {
        color: #000000;
        transition: all .3s;

        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: $mc;
        }
      }
    }
  }
}

// breadCrumbs end
