html,
body {
  height: 100%;
  font-family: "OpenSans";
  overflow: hidden;
}

// footerFlex down
.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrap {
  flex: 1 0 auto;
}

// footerFlex down end

// slider
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// slider end



// flexWrap
.flexWrap {
  align-items: center;
}

// flexWrap end



.nav-up {
  top: -40px;
}


.captionSection {
  text-align: center;
  z-index: 1;
  position: relative;
  h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    font-weight: 400;
  }
}