  .parallaxSection {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 20s;
      -webkit-animation: zoomin 20s linear;
      animation: zoomin 20s infinite linear;

      @media (max-width: 991.98px) {
        animation: none;
        background-position: bottom left;
      }
    }

    @media (max-width: 1199.98px) {
      min-height: 70vh;
    }


    .captionWrap {
      min-height: calc(100vh - 40px);
      display: flex;
      align-items: center;
      transition: all 20s;
      -webkit-animation: zoominContent 20s linear;
      animation: zoominContent 20s infinite linear;

      @media (max-width: 1199.98px) {
        min-height: 70vh;
      }

      @media (max-width: 767.98px) {
        justify-content: center;
      }
    }

    .caption {
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      position: relative;
      padding-left: 60px;
      z-index: 1;

      @media (max-width: 1367.98px) {
        font-size: 30px;
      }

      @media (max-width: 991.98px) {
        margin-top: 150px;
      }

      @media (max-width: 767.98px) {
        font-size: 20px;
        margin-top: 50px;
        padding-left: 20px;
      }

      @media (max-width: 575.98px) {
        font-size: 16px;
      }



      &:before {
        position: absolute;
        content: "";
        max-width: 300px;
        width: 100%;
        min-height: 400px;
        border: 10px solid rgba(10, 93, 169, 0.7);
        top: 50%;
        transform: translateY(-47%);
        left: 0;
        z-index: -1;

        @media (max-width: 1367.98px) {
          max-width: 250px;
          min-height: 350px;
          border: 8px solid rgba(10, 93, 169, 0.7);
        }

        @media (max-width: 991.98px) {
          max-width: 200px;
          min-height: 300px;
          border: 7px solid rgba(10, 93, 169, 0.7);
        }

        @media (max-width: 767.98px) {
          min-height: 300px;
          width: 100%;
          max-width: 100%;
          min-height: 30px;
          bottom: 0;
          transform: translateY(20%);
          border-top: none;
          border-right: none;
        }
      }
    }


    @keyframes zoomin {
      0% {
        transform: scale(1);
      }

      25% {
        transform: scale(1.1);
      }

      50% {
        transform: scale(1.2);
      }

      75% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }




  }
